name: Build Android APK (No Checks)

on:
  workflow_dispatch: # Allows you to click "Run workflow" manually

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Get Dependencies
        run: flutter pub get

      # This step generates the necessary code without complaining about formatting
      - name: Generate Code
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Build APK (Release)
        run: flutter build apk --release --split-per-abi

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: boorusphere-apks
          path: build/app/outputs/flutter-apk/*.apk
