name: Build Boorusphere APK

on:
  workflow_dispatch: # Allows manual run
  push:
    branches: [ main, master ] # Runs on push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Get Dependencies
        run: flutter pub get
        
      # This generates the code needed for the app to run
      - name: Generate Code
        run: dart run build_runner build --delete-conflicting-outputs
        
      - name: Build APK (Release)
        run: flutter build apk --release --split-per-abi
        
      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: boorusphere-apks
          path: build/app/outputs/flutter-apk/*.apk
